<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >


  <div id="container">
    <ion-button class="BigButton" shape="circle" color="success" size="large" (click)="addOne()">
      <ion-icon slot="icon-only" name="water" ></ion-icon>
    </ion-button>
    <!-- <ion-img src='../../assets/35834924.jpg' slot="start"></ion-img> -->
    <p>{{texto}}{{vecesHoy}}</p>
    <ion-button (click)="showData()">Show Data</ion-button>
    <!-- <ion-button (click)="removeData()">Delete today</ion-button> -->
    <!-- <ion-button (click)="sendLocalNotificationNow()">Send Notification every 1 Minute</ion-button> -->

  </div>
  <ion-item>
    <ion-label class="ion-text-wrap">Enviar notifiacaciones por defecto </ion-label>
    <ion-toggle color="success" (click)="toggle(permiso)" #permiso></ion-toggle>
  </ion-item>

</ion-content>
<ion-footer>
  <ion-fab horizontal="end" vertical="bottom">
    <ion-fab-button color="danger" size="small" (click)="minusOne()">
      <ion-icon name="remove-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-footer>
