<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-img src='../../assets/35834924.jpg' slot="start"></ion-img>
    <p>{{today | date: 'dd/MM/yyyy HH:mm'}}</p>
    <p>{{formattedDateTime}}</p>
    <ion-button (click)="sendLocalNotification()">Send Local Notification</ion-button>
    <ion-button (click)="addOne()">Add One</ion-button>
    <ion-button (click)="showData()">Show Data</ion-button>
    <ion-button (click)="removeData()">Delete today</ion-button>
    <br>
    <ion-input type="number" placeholder="hora" #h></ion-input>
    <ion-input type="number" placeholder="minuto" #m></ion-input>
    <ion-button (click)="save(h,m)">Save</ion-button>

  </div>

</ion-content>
